:root{
    --fondo: #1B1C1F;
    --input: #F6F7F9;
    --white: #FFFFFF;
    --pendiente: #B2324A;
    --meta: #5A5A5A;
    --completada: #117A7A;
    --nuevameta: #767E8C;
    --boton: #1C9675;
    --sm: 16px;
}

button {
    width: 94px;
    height: 57px;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    border-start-start-radius: 0px;
    border-end-start-radius: 0px;
    padding: 10px, 16px, 10px, 16px;
    cursor: pointer;
    font-size: var(--sm);
    border: none;
    background-color: var(--boton);
    color: var(--input);
}

.input {
    width: 587px;
    height: 57px;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    border-end-end-radius: 0px;
    border-top-right-radius: 0px;
    padding: 16px, 20px, 16px, 20px;
    margin-top: 10px;
    font-size: var(--sm);
    background-color: var(--white);
    color: var(--orange);
    border: none;
}

.contenedor-meta {
    display: flex;
    grid-template-columns: repeat(1,1fr);
    height: 100vh;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.completar-meta {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--orange);
}
.completar-meta textarea {
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: var(--sm);
    text-align: center;
    background-color: var(--white);
    
}

.meta {
    width: 687px;
    height: 57px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: var(--sm);
    
}

.boton {
    width: 94px;
    height: 57px;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    border-start-start-radius: 0px;
    border-end-start-radius: 0px;
    padding: 16px, 20px, 16px, 20px;
    cursor: pointer;
    font-size: var(--sm);
    background-color: var(--boton);
    color: var(--input);
}

button:hover {
    background-color: var(--white);
    color: var(--completada);
}
.contenedor-principal {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.contenedor-estado {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}
p{
    background-color: #F6F7F9;
}
.completas{
    width: 334px;
    height: 40px;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    margin-top: 10px;
    font-size: var(--sm);
    background-color: var(--white);
    color: var(--completada);
    border: none;
    Padding: 10px, 16px, 10px, 16px;
}
.pendientes{
    width: 334px;
    height: 40px;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    margin-top: 10px;
    font-size: var(--sm);
    background-color: var(--white);
    color: var(--pendiente);
    border: none;
    Padding: 10px, 16px, 10px, 16px;
}
.contenedor-lista {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}
.boton-el {
    width: 150px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px, 16px, 10px, 16px;
    background-color: var(--pendiente);
    color:var(--white);
    align-items: center;
}
.boton-co {
    width: 150px;
    height: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 10px, 16px, 10px, 16px;
    background-color: var(--completada);
    align-items: center;
    color: var(--white);
}